@model TPEjemploHibrido.Models.InfoModel

@{
    ViewBag.Title = "Formulario Hibrido";
}

<div class="jumbotron">
    <h2>Formulario Híbrido</h2>
</div>
<div class="container">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Todo Pago - Elegí tu forma de pago</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="panel-group">
                        <div class="row col-sm-12 col-md-12 col-lg-12">
                            <div id="tp-form-tph">
                                <div class="tp-default-form">
                                    <select id="formaPagoCbx" class="select-tp select-forma-pago-tp"></select>
                                    <input id="numeroTarjetaTxt" class="input-tp input-nro-tarjeta-tp" />
                                    <label id="numeroTarjetaLbl" class="label-tp label-nro-tarjeta-tp"></label>
                                    <select id="medioPagoCbx" class="select-tp select-medio-pago-tp"></select>
                                    <select id="bancoCbx" class="select-tp select-banco-tp"></select>
                                    <select id="promosCbx" class="select-tp select-promos-tp"></select>
                                    <label id="promosLbl" class="label-tp label-promos-tp"></label>
                                    <div>
                                        <label id="peiLbl" class="label-tp label-pei-tp"></label>
                                        <input id="peiCbx" class="input-tp input-pei-tp" />
                                    </div>
                                    <div>
                                        <select id="mesCbx" class="select-tp select-mes-tp"></select>
                                        <select id="anioCbx" class="select-tp select-anio-tp"></select>
                                        <label id="fechaLbl" class="label-tp label-fecha-tp"></label>
                                    </div>
                                    <input id="codigoSeguridadTxt" class="input-tp input-cod-seguridad-tp" />
                                    <label id="codigoSeguridadLbl" class="label-tp label-cod-seguridad-tp"></label>
                                    <input id="nombreTxt" class="input-tp input-nombre-tp" />
                                    <select id="tipoDocCbx" class="select-tp select-tipo-doc-tp"></select>
                                    <input id="nroDocTxt" class="input-tp input-nro-doc-tp" />
                                    <input id="emailTxt" class="input-tp input-email-tp" />
                                    <div>
                                        <label id="tokenPeiLbl" class="label-tp label-token-pei-tp"></label>
                                        <input id="tokenPeiTxt" class="input-tp input-token-pei-tp" />
                                    </div>
                                    <div id="tp-bt-wrapper">
                                        <button id="MY_btnPagarConBilletera" class="tp-button k-button" />
                                        <button id="MY_btnConfirmarPago" class="tp-button k-button" />
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Result", "Home", FormMethod.Post, new { id = "FormResult" }))
{
    <input type="hidden" id="ApiKey" name="ApiKey" value="@Model.ApiKey" />
    <input type="hidden" id="Security" name="Security" value="@Model.Security" />
    <input type="hidden" id="MerchantId" name="MerchantId" value="@Model.MerchantId" />
    <input type="hidden" id="PublicRequestKey" name="PublicRequestKey" value="@Model.PublicRequestKey" />
    <input type="hidden" id="RequestKey" name="RequestKey" value="@Model.RequestKey" />
    <input type="hidden" id="json" name="json" value="" />
    <input type="hidden" id="AnswerKey" name="AnswerKey" value="" />
    <input type="hidden" id="StatusCode" name="StatusCode" value="" />
}

@section Scripts {
    <!--<script src="https://developers.todopago.com.ar/resources/v2/TPBSAForm.min.js"></script>-->
    <!--<script src="https://forms.todopago.com.ar/resources/TPHybridForm-v0.1.js"></script>-->
    <script src="https://developers.todopago.com.ar/resources/v2/TPBSAForm.min.js"></script>
    <!--<script src="https://developers.todopago.com.ar/resources/TPHybridForm-v0.1.js"></script>-->

    <script>
        //PublicRequesKey, esta se obtiene de la respuesta del SAR
        var publicKey = "@Model.PublicRequestKey";
        var mail = "prueba@tpago.com";
        var completeName = "Juan Perez";
        var dni = '31345234';
        var defDniType = 'DNI';
    </script>

    <script src="@Url.Content("~/Scripts/scripts.js")"></script>
}
